In [95]:
import pandas as pd
import numpy as np
est_mat = pd.read_csv("/home/facundo/Descargas/student-mat.csv")
est_por = pd.read_csv("/home/facundo/Descargas/student-por.csv")
est = pd.concat([est_mat, est_por])

In [96]:
est["NotaTotal"] = est["G1"] + est["G2"] + est["G3"]
est.groupby("schoolsup")["NotaTotal"].sum()

schoolsup
no     31600
yes     3689
Name: NotaTotal, dtype: int64

In [ ]:
est.groupby("address")[]

In [97]:
est.groupby("famsize")["famsize"].count()

famsize
GT3    738
LE3    306
Name: famsize, dtype: int64

In [98]:
est.groupby("address")[["absences","NotaTotal"]].sum()

         absences  NotaTotal
address
R            1158       9070
U            3472      26219

In [99]:
ufo = pd.read_csv("/home/facundo/Descargas/scrubbed.csv", low_memory = False)
ufo.head(10)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167

In [100]:
ufo.loc[(ufo["city"].astype(str).str.contains("wash")) & (ufo["state"] == "dc"), :].groupby("shape")["shape"].count().sort_values()

shape
unknown       1
chevron       1
rectangle     1
diamond       1
flash         1
egg           1
oval          2
formation     3
changing      3
cigar         3
circle        5
triangle      6
disk          7
cylinder      7
fireball      8
other        10
sphere       13
light        16
Name: shape, dtype: int64

In [101]:
ufo.loc[(ufo["shape"]=="cross") | (ufo["shape"]=="diamond")].groupby("shape")["shape"].count()

shape
cross       233
diamond    1178
Name: shape, dtype: int64

In [102]:
ufo.loc[ufo["city"] == "los angeles", :].groupby("shape")["shape"].count().sort_values(ascending = False)

shape
light        63
circle       36
triangle     30
fireball     29
disk         29
unknown      26
sphere       25
other        21
oval         16
cigar        16
changing     14
formation    11
flash         5
rectangle     5
egg           5
chevron       5
diamond       4
teardrop      4
cone          3
cylinder      1
Name: shape, dtype: int64

In [103]:
ufo.loc[(ufo["country"]=="ca") & (ufo["datetime"].astype(str).str.contains("2010")),:].count()

datetime                137
city                    137
state                   137
country                 137
shape                   136
duration (seconds)      137
duration (hours/min)    137
comments                137
date posted             137
latitude                137
longitude               137
dtype: int64

In [104]:
ufo.groupby("state")["state"].count().sort_values(ascending = False)

state
ca    9655
wa    4268
fl    4200
tx    3677
ny    3219
az    2689
il    2645
pa    2582
oh    2425
mi    2071
nc    1869
or    1845
on    1584
mo    1576
nj    1512
co    1505
va    1393
in    1386
ma    1358
ga    1347
wi    1333
tn    1193
mn    1081
sc    1076
ct     968
ky     914
md     911
nv     905
nm     815
bc     788
      ...
la     598
id     554
nh     535
mt     510
wv     486
ms     415
ne     405
ak     354
hi     353
ab     333
vt     307
ri     290
wy     205
sd     196
de     183
qc     178
mb     155
ns     143
nd     138
nb     116
dc      99
sk      98
pq      90
pr      33
sa      30
nf      25
nt      20
pe      17
yt      13
yk       7
Name: state, Length: 67, dtype: int64

In [108]:
ufo["duration (seconds)"].astype("float64")

ValueError: could not convert string to float: '0.5`'

In [112]:
ufo.groupby("shape")["shape"].count().sort_values(ascending = False)

shape
light        16565
triangle      7865
circle        7608
fireball      6208
other         5649
unknown       5584
sphere        5387
disk          5213
oval          3733
formation     2457
cigar         2057
changing      1962
flash         1328
rectangle     1297
cylinder      1283
diamond       1178
chevron        952
egg            759
teardrop       750
cone           316
cross          233
delta            7
round            2
crescent         2
pyramid          1
dome             1
flare            1
hexagon          1
changed          1
Name: shape, dtype: int64

In [126]:
est_mat["NotaTotal"] = est_mat["G1"] + est_mat["G2"] + est_mat ["G3"]
est_mat.groupby("Mjob")["NotaTotal"].sum()

Mjob
at_home     1728
health      1248
other       4255
services    3463
teacher     1961
Name: NotaTotal, dtype: int64

In [137]:
est_mat.groupby("reason")["NotaTotal"].mean()

reason
course        30.593103
home          31.816514
other         33.222222
reputation    33.857143
Name: NotaTotal, dtype: float64

In [133]:
est_mat.groupby("famsize")["Walc"].sum()

famsize
GT3    620
LE3    285
Name: Walc, dtype: int64

In [138]:
est_por.groupby("school")["school"].count()

school
GP    423
MS    226
Name: school, dtype: int64